body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

#content {
    margin-top: 20px;
}
img {
    width: 200px;
    height: auto;
}

#imgContainer {
    display: none;
    margin-top: 10px;
}